body {
  // font-family: 'Source Sans Pro', sans-serif;
  // font-family: 'Merienda', cursive;
  // font-family: 'Yanone Kaffeesatz', sans-serif;
  // font-family: hp;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 400px;
  line-height: 1.7;
}

.h {

  &__1 {

  }

  &__3 {
    font-size: 2.5rem;

    &--ko {
      color: white;
    }
  }
}

.p {

  &__1 {
    font-size: 1.6rem;

    &--ko {
      color: white;
    }
  }
}